<section class="stateListDetails">
  <h1>State Details</h1>
  <div class="stateDetails" ng-model="states">
    <h3>{{state.name}}</h3>
    <ul class="stateListDetail">
      <li>
        <label>Abbreviation</label>
        <span>{{state.abbreviation}}</span>
      </li>
      <li>
        <label>Capital</label>
        <span>{{state.capital}}</span>
      </li>
      <li>
        <label>Most Populous City</label>
        <span>{{state.most-populous-city}}</span>
      </li>
      <li>
        <label>Population</label>
        <span>{{state.population}}</span>
      </li>
      <li>
        <label>Square Miles</label>
        <span>{{state.square-miles}}</span>
      </li>
      <li>
        <label>Time Zone 1</label>
        <span>{{state.time-zone-1}}</span>
      </li>
      <li>
        <label>Time Zone 2</label>
        <span>{{state.time-zone-2}}</span>
      </li>
      <li>
        <label>DST</label>
        <span>{{state.dst}}</span>
      </li>
    </ul>
  </div>
</section>